---
title: About
layout: "base.njk"
background: /assets/images/space-stars.gif
color: white
---

<center>
  <p><img src="/assets/images/about-me.gif"></p>
  <p><img src="/assets/images/coming-soon-sign-moving-lights.gif"></p>
</center>
