---
title: Home
layout: "base.njk"
background: /assets/images/space-stars.gif
color: white
---

<center>
  <p><img src="/assets/images/welcome.gif"></p>
  
  <p><img src="/assets/images/under-construction-flashing-sign.gif"></p>
  <p><img src="/assets/images/welcome-to-my-homepage.gif"></p>
</center>
